.idea/
notebooks/
__pycache__/
*.egg-info/
*.log
*.egg-info/
*.tmp
*.txt
.env
.run/
logs/
dist/
temp/
scripts/
gpt-plan-benchmark/
.DS_Store
.vscode/
dataset/
/*.json
/data_to_check/
*.jsonl
sas_plan
build/
examples/MATH
*.ipynb
examples/AQuA_rap/test.ipynb
temp_plan
temp_problem

!autorace/data/eval_model/*.jsonl
