{"question": "Steve spends 1/3 of the day sleeping, 1/6 of the day in school, 1/12 of the day making assignments, and the rest of the day with his family. How many hours does Steve spend with his family in a day?", "answer": "Steve spends 24/3 = <<24/3=8>>8 hours sleeping.\nHe spends 24/6 = <<24/6=4>>4 hours in school.\nHe spends 24/12 = <<24/12=2>>2 hours making assignments.\nHe spends 8 + 4 + 2 = <<8+4+2=14>>14 hours either sleeping, going to school, or making assignments.\nHence, Steve spends 24 - 14 = <<24-14=10>>10 hours with his family.\n#### 10"}
{"question": "Beth is a scuba diver.  She is excavating a sunken ship off the coast of a small Caribbean island and she must remain underwater for long periods.  Her primary tank, which she wears when she first enters the water, has enough oxygen to allow her to stay underwater for 2 hours.  She also has several 1-hour supplemental tanks that she takes with her as well as stores on the ocean floor so she can change tanks underwater without having to come up to the surface.  She will need to be underwater for 8 hours.  How many supplemental tanks will she need?", "answer": "For an 8-hour dive, she will use her 2-hour primary tanks and will need supplemental tanks for 8-2=<<8-2=6>>6 additional hours.\nSince each supplemental tank holds 1 hour of oxygen, for 6 hours she will need 6/1=<<6/1=6>>6 supplemental tanks.\n#### 6"}
{"question": "There are 55 people at the track meet. 30 of them are boys, and the rest are girls. Three fifths of the girls have long hair, and the rest have short hair. How many girls have short hair?", "answer": "There are 55-30 = <<55-30=25>>25 girls at the track meet.\nThere are (25/5)*3 = <<25/5*3=15>>15 girls with long hair.\nThere are 25-15 = <<25-15=10>>10 girls with short hair.\n#### 10"}
{"question": "Henry scored 50 points on his Geography test, 70 on his Math test and 66 on his English test. If his History score is the average of these 3 scores, what was his total score across all 4 subjects?", "answer": "The sum of his scores across the first 3 subjects is 50+70+66 = <<50+70+66=186>>186\nThe average score over the 3 subjects which is his History score is = total/3 = 186/3 = <<186/3=62>>62\nTherefore his score across all 4 subjects = 186+62 = <<186+62=248>>248\n#### 248"}
{"question": "Tricia ordered three dozen eggs. She will use 1/4 of them for making crepes, and 2/3 of the remaining for making cupcakes. How many eggs are left to make sunny-side-up eggs for breakfast?", "answer": "Since a dozen is equal to 12, then 3 dozen eggs are equal to 12 x 3 = <<3*12=36>>36 eggs.\nTricia will use 36 x 1/4 = <<36*1/4=9>>9 eggs for making crepes.\nSo there are 36 - 9 = <<36-9=27>>27 eggs left.\n27 x 2/3 = <<27*2/3=18>>18 eggs will be used for making cupcakes.\nThus, there are only 27 - 18 = <<27-18=9>>9 eggs left to make sunny-side-up eggs for breakfast.\n#### 9"}
{"question": "Michael has $42. Michael gives away half the money to his brother. His brother then buys 3 dollars worth of candy. If his brother has $35 left, how much money, in dollars, did his brother have at first?", "answer": "Michael gives away 42/2=<<42/2=21>>21 dollars.\nBefore buying candy, his brother has 35+3=<<35+3=38>>38 dollars.\nHis brother had 38-21=<<38-21=17>>17 dollars at first.\n#### 17"}
{"question": "Lefty scores 20 points in a game and his teammate Righty scores half as many as Lefty does.  Their other teammate scores 6 times as much as Righty does.  What are the average points scored per player on the team?", "answer": "First, we need to determine how many points Righty scored. To do this we perform 20/2=<<20/2=10>>10 points since Righty scored half as many as Lefty did.\nThen, to find the other teammate's points we perform 10*6=<<10*6=60>>60 points scored, as they scored 6 times as many as Righty did.\nWe then add all three teammates' points together, performing 20+10+60=<<20+10+60=90>>90 points as the first step towards finding the average.\nWe then divide this sum by the total number of players we're averaging, getting 90/3=<<90/3=30>>30 points per player\n#### 30"}
{"question": "In a conference room, 40 chairs with a capacity of 2 people each were arranged in rows in preparation for the board meeting of a company, whose number of members was the same as the chairs' capacity. If 2/5 of the chairs were not occupied, and the rest each had two people, calculate the number of board members who did attend the meeting.", "answer": "The total capacity of the 40 chairs was 40*2=<<40*2=80>>80 people.\nIf 2/5 of the chairs were unoccupied, 2/5*80=<<2/5*80=32>>32 people missed the board meeting since the number of members was the same as the chair's capacity.\nThe number of board members who attended the meeting was 80-32=<<80-32=48>>48\n#### 48"}
{"question": "Harold had 100 marbles. He kept 20 marbles and shared the rest evenly among his 5 friends. How many marbles did each friend get?", "answer": "Harold shared 100 - 20 = <<100-20=80>>80 marbles with his friends.\nTherefore, his 5 friends got 80/5 = <<80/5=16>>16 marbles each.\n#### 16"}
{"question": "During vacation, Jimmy visits different beaches on an island, so he changes his place of lodging from time to time. The first 3 days he stays in a hostel, where he is charged $15 per night. The fourth and fifth days he stays in a cabin where he shares expenses with 2 of his friends, and they are charged $45 total per night. How much did Jimmy spend on lodging?", "answer": "For the first 3 days, he pays 3 * $15 = $<<3*15=45>>45\nThe next 2 days, he and his friends pay $45 * 2 =$<<45*2=90>>90\nJimmy and his 2 friends pay $90 / 3 = $<<90/3=30>>30 each.\nIn total, Jimmy spent $45 + $30 = $<<45+30=75>>75\n#### 75"}
